# AWS Infrastructure Region
VITE_AWS_REGION=

# Cognito User Pool 
VITE_USER_POOL_ID=
VITE_USER_POOL_CLIENT_ID=

# Cognito Identity Pool
VITE_IDENTITY_POOL_ID=

# API Gateway Access URl
VITE_API_URL=
VITE_DEMO_MODE=